app
altair
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
Babel
backcall
beautifulsoup4
bleach
blinker
cachetools
caer
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cycler
DateTime
debugpy
decorator
defusedxml
distlib
et-xmlfile
executing
fastjsonschema
filelock
Flask
fonttools
fqdn
frozendict
gitdb
GitPython
gunicorn
html5lib
idna
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kiwisolver
lxml
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
multitasking
mypy
mypy-extensions
mysql
mysqlclient
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numpy
opencv-contrib-python
openpyxl
overrides
packaging
pandas
pandocfilters
parso
peewee
pickleshare
Pillow
pipenv
platformdirs
plotly
prometheus-client
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pycparser
pydeck
Pygments
pyparsing
python-dateutil
python-json-logger
pytz
pywin32; platform_system == 'Windows'
pywinpty; platform_system == 'Windows'
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
scikit-learn
scipy
Send2Trash
six
smmap
sniffio
soupsieve
stack-data
streamlit
tenacity
terminado
threadpoolctl
tinycss2
toml
toolz
tornado
traitlets
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
virtualenv
watchdog
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
widgetsnbextension
yfinance
zope.interface
